$primary-color: #f00;
$border-width: 2px;

$container: 1170px;
$padding: 25px;

@function half-height($first, $second){
	@return $container / $first - $padding / $second;
}
.half {
	height: half-height(2,2);
}

.first-class {
	color: $primary-color;
	font-family: sans-serif;
	text-decoration: underline;
}
.second-class {
	@extend .first-class;
	border-color: #fff;
}

.border-blue {
	border-color: blue;
	border-width: $border-width;
}

.border-red {
	border-color: red;
	border-width: $border-width;
}

a {
	font-family: sans-serif;
	color: $primary-color;

	&:hover,
	&:active,
	&:focus {
		color: blue;
	}
	&.link-class {
		color: green;
		&:hover,
		&:active,
		&:focus {
			color: black;
		}
	}
}

@mixin translateX($val) {
	-webkit-transform: translateX($val);
	-moz-transform: translateX($val);
	-ms-transform: translateX($val);
	-o-transform: translateX($val);
	transform: translateX($val);
}
.translateX {
	@include translateX(1rem);
}

@mixin animate-time ($time: 4s) {
	transition: $time ease;
}

.box1 {
	@include animate-time;
}

//FOR loop
//@for $var from <start> through <end>
// @for $space from 1 through 12 {
// 	$width: percentage( 1 / $space ); 

// 	.col-# {$space} {
// 		width: $width; //100%
// 	}
// }
//WHILE loop
// @while $var something(comparison) int
$num: 12;
@while $num > 0 {
	$width: percentage(1 / $num);
	.column-#{$num} {
		width: $width
	}
	$num: $num - 1;
}

//EACH loop
//@each $key, $value in $array {}
$white: #fefefe;
$black: #000;
$red: #F00;
$primary: #CCC;
$secondary: #333;

$colors: (
	'white': $white,
	'black': $black,
	'red': $red,
	'primary': $primary,
	'secondary': $secondary	
);

@each $name, $hex in $colors {
	// .text-white { color: #fff;}
	.text-#{$name} {
		color: $hex;
	}

	.background-#{$name} {
		background-color: darken($hex, 26%);
	}
}
.box2 {
	animation-name: animTest1;
	animation-duration: 3s;
}
@keyframes animTest1 {
	50% {
		top: 1rem;
		@include translateX(1rem);
	}
}