// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.lead {
  font-family: $text-font-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #545454;
  line-height: 1.7rem;
  margin-right: 20vw;
  margin-bottom: 8rem;
  @include respond-to(medium) {
    margin-bottom: 10em;
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
