// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------


footer {
  width: 80%;
  margin: 5em 1em .5em;
  display: flex;
  justify-content: space-between;
}
