.grid-wrapper {
  display: grid;
  max-width: 1080px;
  margin: 12rem 1rem;
  grid-gap: 1.5rem;
  @include respond-to(small) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(1fr, 400px);
    margin: 10em 1em 0 1em;
  }
}
