.project-title {
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}
.grid-wrapper__project-info {
  h4 {
    text-transform: uppercase;
    color: $mid-grey;
    font-size: .89rem;
    margin: 0;
    font-weight: 400;
  }
  p {
    margin: 0;
    padding-bottom: 1rem;
    @include respond-to(small) {
      padding-bottom: 2rem;
    }
  }
}
.grid-wrapper__project-description {
  h3 {
    line-height: 1.4;
    font-weight: normal;
    margin: 0 0 1rem;
  }
  .overview {
    border-bottom: 4px solid $brand-color;
    padding: 1rem 0 2rem;
    margin-bottom: 3rem;
  }
}
.project-images {
  text-align: center;
  margin-bottom: 2rem;
  img {
    max-width: 100%;
  }
  figcaption {
    text-align: center;
    font-size: .9rem;
    color: $mid-grey;
  }
}
.project-caption {
  text-align: center;
  color: $mid-grey;
  font-size: .85rem;
  grid-column: span 6;
}
